<h1><%= @listing.name %></h1>
<%= button_tag "Purchase for #{number_to_currency(@listing.price)}",disabled: (@listing.status != 'active'),data: {stripe:'payment', session_id: @session_id, public_key: Rails.application.credentials.dig(:stripe, :public_key) }, id:'stripe-button', class:'btn btn-outline-success' %>
<% if current_user == @listing.user %>
<%= link_to 'Deactivate', deactive_listing_path(@listing), method: :put, class:'btn btn-warning' %>
<%= link_to 'Edit', edit_listing_path(@listing), class:'btn btn-warning' %>
<%= link_to 'Destroy', listing_path(@listing),method: :delete, data:{ confirm: 'Are you sure?'}, class:'btn btn-danger' %>
<% end %>
<p><%= @listing.description %></p>
<%= @listing.images.attached? ? (image_tag @listing.images.first , alt:'Image of drone') : (image_tag 'drone_image.jpg', alt:'Default image of drone') %>
<ul>
  <li> Price: <%= number_to_currency(@listing.price) %>  </li>
  <li> Max Speed: <%= @listing.max_speed %> m/s </li>
  <li> Battery Capacity: <%= @listing.battery_capacity %> mah </li>
  <li> Weight: <%= @listing.weight %> g </li>
</ul>
<h5>Posted by: <%= @listing.user.username %> <%= time_ago_in_words(@listing.created_at) %> ago</h5>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_pack_tag 'stripe' %>


